/* 상세페이지 컨테이너 설정 */
/* 메인 컨테이너 */
.main-container {
    display: flex;
    align-items: flex-start;
    padding: 100px 10% 0 30%;
    gap: var(--image-padding-right, 0px); /* 좌우 컨테이너 사이 간격 */
    width: calc(100% - 40px); /* 패딩을 제외한 전체 너비 */
}

/* 좌측 컨테이너 */
.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px; /* 이미지와 테이블 컨테이너 너비 */
}

/* 우측 컨테이너 */
.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%; /* 제목 및 설명 컨테이너 너비 */
}

/* 이미지 설정 */
.image {
    padding-bottom: 10px;
}

/* 이미지 제목 설정 */
.image-title {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 20pt;
    margin-top: 0px;
    margin-left: 0px; /* 좌측 여백 없음 */
}

/* 이미지 설명 설정 */
.image-description {
    margin-top: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 12pt;
    margin-left: 0px; /* 좌측 여백 없음 */
    text-align: justify;
}

/* 링크 텍스트 설정 */
.image-description a {
    color: #FFFFFF; /* 링크 텍스트 색상 변경 */
    text-decoration: underline; /* 링크의 밑줄 제거 */
    font-weight: bold; /* 링크 텍스트 굵게 */
}

/* 링크 텍스트 호버 설정 */
.image-description a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
    color: #FFDD57; /* 호버 시 색상 변경 (선택 사항) */
}

/* 테이블 설정 */
.description-table {
    width: 100%; /* 컨테이너 너비에 맞춤 */
    border-collapse: collapse;
    margin-top: 50px;
}

.description-table .header-row {
    background-color: #3affad;
    text-align: center;
}

.description-table td {
    border: 2px solid black;
    padding: 10px;
}

.description-table .table-header {
    text-align: center;
    font-weight: bold;
}

.label-cell {
    width: 200px;
    text-align: center;
}

.value-cell {
    width: calc(100% - 200px); /* 테이블 너비에서 레이블 셀 너비를 뺀 값 */
    padding-left: 20px;
}
